* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    color: #333;
    flex-direction: column;
    /* Asegura que los elementos se apilen correctamente */
}

#main-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 30px; */
    border-radius: 10px;
    padding: 40px 20px;
    width: 25%;
    /* Ajusta el ancho a un porcentaje más flexible */
    background-color: #333;
    margin-bottom: 30px;
    /* Espaciado debajo */
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);

}

.screenContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: solid 2px;
    border-radius: 13px;
    padding: 0px 0px 20px 0px;
}


img {
    width: 30%;
    margin-bottom: 10px;
}



.h1sub {
    font-weight: 200;
}

.panel {
    color: aliceblue;
    margin: 0;
    padding: 0;
}

.btnPanel {
    width: 100%;

    h5 {
        color: aliceblue;
        font-weight: 200;
        margin: 10px 0px;

    }
}

.containerConsultas {
    display: flex;
    width: 100%;
    justify-content: center;
}

.generarConsulta {
    background-color: aliceblue;
    color: #333333;
    display: flex;
    justify-content: center;
}



.containerConsultas2 {
    width: 45%;
    display: flex;
    justify-content: center;
    color: #333333;
}

.containerDivider {
    display: flex;
    justify-content: center;
}

.gradient-divider {
    height: 1px;
    /* Grosor en el centro */
    background: linear-gradient(to right, transparent, #ccc, transparent);
    /* Gradiente para los extremos finos */
    margin: 10px 0px 20px 0px;
    width: 80%;
    /* Longitud de la línea */
    display: flex;
}



hr {
    width: 25vw;
    margin: 20px 0px 30px 0px;
    padding: 0;
}

p {
    color: #3b3b3b;
    font-size: 80%;
}

.containerBotones {}

button {
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 13px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 15px;
}

button:hover {
    transform: translateY(-2px);
}

#baja-servicio {
    background-color: rgb(255, 0, 60);
    color: white;
}

#planes-disponibles {
    background-color: #1761b3;
    color: aliceblue;
}

#baja-servicio:hover,
#planes-disponibles:hover {
    background-color: #1761b3;
}

#pagar {
    background-color: green;
}

.screen {
    /* background: white; */
    background: #313131;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 70%;
    /* Cambié el ancho a un porcentaje menor */
    max-width: 500px;
    /* Ajusta el valor según el ancho máximo que desees */
    padding: 30px;
    text-align: center;
}


h1 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #333;
}

h3 {
    font-weight: 500;
}

.lamentamos {
    width: 100%;
    /* Asegura que ocupe todo el ancho */
    background-color: #333;
    color: aliceblue;
    padding: 20px 0;
    /* Ajusta el padding si es necesario */
    margin-top: 0;
    /* Elimina cualquier margen superior */
    position: relative;
    /* Asegura que se posicione correctamente en la parte superior */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 300;
}

.lamentamos p {
    color: aliceblue;
    margin: 0;
    /* Elimina márgenes en los párrafos */
}


.highlight-text {
    color: #2d92ff;
    border-radius: 5px;
    font-weight: 700;
}

.warning-icon {
    font-size: 24px;
    color: #ff3b3b;
}

button#download-button {
    background-color: #0078FF;
    color: white;
    width: 50%;
    font-size: 80%;
    padding: 15px;
}

button#download-button:hover {
    background-color: #1976d2;
}

button#confirm-baja {
    background-color: #ff5346;
    color: white;
    margin-top: 0px;
    width: 46%;
    font-size: 80%;
    padding: 15px;

}

button#confirm-baja:hover {
    background-color: #d32f2f;
}

.seguridad {
    background-color: #edededbd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 60px;
    transition: opacity 0.3s ease;
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 40px;
    border-radius: 12px;
    width: 60%;
    max-width: 400px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.check-icon {
    font-size: 50px;
    color: #4CAF50;
}

.modal-body h2 {
    font-size: 22px;
    margin: 20px 0;
    font-weight: 700;
}

button#finalizar {
    background-color: #2196F3;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button#finalizar:hover {
    background-color: #1976d2;
}

@media (max-width: 600px) {
    .screen {
        width: 90%;
        padding: 20px;
    }

    .modal-content {
        width: 80%;
        padding: 30px;
    }

    button {
        font-size: 16px;
    }
}

.saludo {
    margin: 20px 0;
}

.servicioBaja {
    margin-bottom: 10px;
}









body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
}

.tituloPlanes {
    font-size: 300%;
    margin: 30px 0px 40px 0px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

h1 {
    margin-top: 20px;
}

.articulo {
    background-color: #313131;
    color: #E5E5E5;
    width: 100vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%;
    .contenedorBtn{
        width: 8%;
        display: flex;
        justify-content: flex-start;
        margin-left: 10px;
    }
    a{
        width: 100%;
        height: 3vh;
        text-align: center;
        background-color: #ADFF30;
        color:#313131 ;
        font-weight: 600;
        font-size: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        font-size: 80%;
        text-decoration: none;
        padding: 0px 10px;
    }
}

.mediosDePago {
    background-color: #E5E5E5;
    width: 100vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    gap: 50px;
    .pagoContainer{
        display: flex;
        align-items: center;
        text-align: center;
    }

    h4{
        font-weight: 100;
        font-size: 80%;
        display: flex;
    }

    span {
        font-weight: bold;
        font-size: 100%;
    }
}



.cards {
    display: flex;
    margin: 20px 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-items: stretch;
}

.h2Container{
    width: 100%;
    background-color: rgb(229, 229, 229);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
margin-top: 20px;
padding-top: 20px;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 23%;
    /* Ajusta el ancho, considerando los márgenes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin: 20px;
    /* Margen consistente entre las tarjetas */
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-5px);
}

.price {
    font-size: 24px;
    color: #00aaff;
    margin: 10px 0 0px 0px;
}

.contenidoCard {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}

ul {
    list-style: none;
    padding: 10px 35px;
    text-align: left;
}

ul li {
    margin: 8px 0;
    font-size: 90%;
    color: #3f3f3f;
}

.btn {
    background-color: #00aaff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #0077cc;
}

.card-logo {
    width: 20%;
    margin: 0 auto;
    display: block;
}

.solapaTitulo {
    background-color: #4CAF50;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.basico {
    background-color: rgb(0, 140, 255);
}

.estandar {
    background-color: gold;
}

.premium {
    background-color: #313131;

    h2 {
        color: aliceblue;
    }
}

.shopify,
.woocommerce,
.airbnb {
    background-color: #aaa;
}

span {
    font-size: 150%;
    font-weight: 800;
}

.listaIncluye {
    text-align: left;
    display: flex;
}

.robot {
    width: 20%;
}

.btnSolicitar {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px 20px;


}

.partners {
    background-color: rgb(229, 229, 229);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0;
}

.off {
    background-color: greenyellow;
    font-size: 70%;
    padding: 3px 0px;
    color: #3F3F3F;
}

.solapaPartners {
    background-color: gold;
}

.desde {
    font-size: 50%;
    color: #aaa;
}

.transparent {
    color: #FFFFFF;
    font-size: 50%;

}

.solapaPartners2 {
    background-color: rgb(102, 0, 255);
    color: aliceblue;
}

.solapaPartners3 {
    background-color: rgb(15, 147, 0);
    color: aliceblue;
}





